[viewBag]
==
<div class="box alt">
	<div class="row 50% uniform">
	    {% for entry in carphotos %}
		    <div class="3u{% if loop.index % 4 == 0 %}${% endif %}"><span class="image fit"><a href="{{ entry.getPath }}" data-fancybox="gallery"><img  src="{{ entry.getThumb(380, 210, {'mode':'crop'}) }}" alt=""></a></span></div>
		{% endfor %}
	</div>
</div>