[viewBag]
==
<?php
use Tk\Carrental\Models\Setting;
use Tk\Carrental\Models\Reservation;

function onStart () {
    $this['setting'] = Setting::find(1);
    $this['reservation'] = Reservation::find(Session::get("reservation_id"));
}
?>
==
<div class="box alt">
	<div class="row 80% uniform">
	
	    
	    <div class="12u$"><h2 id="carinfo">{{ 'Araç Özellikleri'|_ }}</h2></div>
	
	    <div class="1u"></div>
	    <div class="10u">
	        <table class="alt">
	            <thead>
					<tr>
						<th>{{ 'Özellik'|_ }}</th>
						<th>{{ 'İçerik'|_ }}</th>
					</tr>
				</thead>
	            {% for entry in data %}
	            <tr><td>{{ entry.key|_ }}</td><td>{{ entry.value|_ }}</td></tr>
	            {% endfor %}
	        </table>
	    </div>
	    <div class="1u$"></div>
	    
	    <div class="12u$"><h2 id="carextras">{{ 'Ek Seçenekler'|_ }}</h2></div>
	    
	    <div class="1u"></div>
	    <div class="10u">
	        <table class="alt">
	            <thead>
					<tr>
						<th>{{ 'Özellik'|_ }}</th>
						<th>{{ 'İstiyor / İstemiyor'|_ }}</th>
						<th>{{ 'Tip'|_ }}</th>
						<th>{{ 'Fiyat'|_ }}</th>
					</tr>
				</thead>
	            {% for entry in setting.extras %}
	            <tr>
	                <td>{{ entry.name|_ }}{% if loop.index0 == 0 and (reservation.start_point_id == 2) %}<br />{{ '(İstanbul çıkışlı araçlarda HGS zorunludur.)'|_ }}{% endif %}</td>
	                <td>
	                
	                <input checkextraindex="{{ loop.index0 }}" 
	                class="checkextra" 
	                type="radio" 
	                id="extra_{{ loop.index }}_y" 
	                name="extra_{{ loop.index }}" 
	                value="1"
	                {% if loop.index0 == 0 and (reservation.start_point_id == 2) %}checked="checked"{% elseif entry.default == "1" %}checked="checked"{% endif %}
	                {% if loop.index0 == 0 and (reservation.start_point_id == 2) %}disabled{% endif %}>
    				<label for="extra_{{ loop.index }}_y">İstiyor</label>
	                
	                <input checkextraindex="{{ loop.index0 }}" 
	                class="checkextra" 
	                type="radio" 
	                id="extra_{{ loop.index }}_n" 
	                name="extra_{{ loop.index }}" 
	                value="0" 
	                {% if loop.index0 == 0 and (reservation.start_point_id == 2) %}{% elseif entry.default == "0" %}checked="checked"{% endif %}
	                {% if loop.index0 == 0 and (reservation.start_point_id == 2) %}disabled{% endif %}>
    				<label for="extra_{{ loop.index }}_n">İstemiyor</label>
	                
	                </td>
	                
	                <td>
	                {% if entry.range == "daily" %}
	                    {{ 'Günlük Kiralama'|_ }}
	                {% elseif entry.range == "full" %}
	                    {{ 'Kiralama Boyunca'|_ }}
	                {% endif %}</td>
	                
	                <td>
	                    {% if reservation.currency == "EUR" %}
    		                {{ (entry.price)|round(2, 'ceil')|number_format(2, '.', ' ') }} €
    		            {% elseif reservation.currency == "USD" %}
    		                {{ (entry.price * setting.eurtousd)|round(2, 'ceil')|number_format(2, '.', ' ') }} $
    			        {% elseif reservation.currency == "TRY" %}
    		                {{ (entry.price * setting.eurtotry)|round(2, 'ceil')|number_format(2, '.', ' ') }} ₺
    			        {% endif %}
	                </td>
	            </tr>
	            {% endfor %}
	        </table>
	        
        		<script>
        		    $( document ).ready(function() {
                        {% if reservation.start_point_id == 2 or reservation.start_point_id == 3 %}
                            $.request('onCheckExtra', {
                                    data: {id: 0, selection: 1, toastr_off: 1}
                            });
                        {% endif %}
                        $(".checkextra").on('change', function(){ 
                            if ($(this).is(':checked')) {
                                $.request('onCheckExtra', {
                                    data: {id: $(this).attr("checkextraindex"), selection: $(this).val()}
                                })
                            }
                        });
                    });
        		</script>
	    </div>
	    <div class="1u$"></div>
	</div>
</div>