[viewBag]
==
<?php
use Carbon\Carbon;
use Tk\Carrental\Models\Reservation;
use Tk\Carrental\Models\Setting;
use Tk\Carrental\Models\Interval;
use Tk\Carrental\Models\Price;

function onStart() {
    
    $this['setting'] = Setting::find(1);
    $this['reservation'] = Reservation::find(Session::get("reservation_id"));
    

    
    $this['start_time'] = $this['reservation']->start_time;
    $this['end_time'] = $this['reservation']->end_time;
    
    $arr = $this['reservation']->vehicletype->price->getDiff($this['start_time'], $this['end_time'], $this['reservation']);
    
    
    //print_r($arr);
    
    
    $this['diffInDays'] = $arr['diffInDays'];
    $this['daysForPricing'] = $arr['daysForPricing'];
    $this['daysActual'] = $arr['daysActual'];
    $this['diffInHours'] = $arr['diffInMinutes'];
    
    //$dailyPriceArray = $this['reservation']->vehicletype->price->getDailyPriceArray($arr['start_time'], $arr['end_time']);
    
    $this['totalDaysPrice'] = 0.0;
    
    if (is_array($arr) || is_object($arr))
    {
    
        if($this['reservation']->currency == "EUR") {
            
            foreach($arr['daily'] as $dailyPrice) {
                $this['totalDaysPrice'] += $dailyPrice;
            }
            
        } else if ($this['reservation']->currency == "USD") {
            
            foreach($arr['daily'] as $dailyPrice) {
                $this['totalDaysPrice'] += $dailyPrice * $this['setting']['eurtousd'];
            }
            
        } else if ($this['reservation']->currency == "TRY") {
            
            foreach($arr['daily'] as $dailyPrice) {
                $this['totalDaysPrice'] += $dailyPrice * $this['setting']['eurtotry'];
            }
            
        }
        $this['dailyPriceArray'] = $arr['daily'];
    }
    
    
    
    $this['reservation']->final_price = $this['totalDaysPrice'];
    
    //Aralıktan kaynaklanan fiyat
    $interval = new Interval();
    $interval_arr = $interval->getDiffInPlacePrice($this['reservation']->start_point_id, $this['reservation']->end_point_id, $this['reservation']->currency);

    $this['diffInPlace'] = $interval_arr['diffInPlace'];
    $this['diffInPlacePrice'] = $interval_arr['diffInPlacePrice'];

    //extralardan kaynaklanan fiyat
    $arr = [];
    $this['extrasPrice'] = 0.0;
    
    foreach($this['reservation']->extras as $k => $extra) {
        
        if($this['reservation']->currency == "EUR") {
            $extra_value = ceil($extra['value'] * 100) / 100;
            $arr[$k] = ["key" => $extra['key'], "range" => $extra['range'], "value"=> $extra['value'], "total"=> $extra_value];
            if($extra['range'] == "daily") {
                $arr[$k]["total"] = $arr[$k]["total"] * $this['daysForPricing'];
            }
        } else if ($this['reservation']->currency == "USD") {
            $extra_value = ceil($extra['value'] * 100 * $this['setting']['eurtousd']) / 100;
            $arr[$k] = ["key" => $extra['key'], "range" => $extra['range'], "value"=> $extra['value'], "total"=> $extra_value];
            if($extra['range'] == "daily") {
                $arr[$k]["total"] = $arr[$k]["total"] * $this['daysForPricing'];
            }
        } else if ($this['reservation']->currency == "TRY") {
            $extra_value = ceil($extra['value'] * 100 * $this['setting']['eurtotry']) / 100;
            $arr[$k] = ["key" => $extra['key'], "range" => $extra['range'], "value"=> $extra['value'], "total"=> $extra_value];
            if($extra['range'] == "daily") {
                $arr[$k]["total"] = $arr[$k]["total"] * $this['daysForPricing'];
            }
        }
        if($extra['range'] == "daily") {
            $this['extrasPrice'] += $extra_value * $this['daysForPricing'];
        } else {
            $this['extrasPrice'] += $extra_value;
        }
        
    }
    $this['reservation']->extras = $arr;
    $this['extrasArray'] = $arr;
    
    $this['totalOfAll'] = $this['extrasPrice'] + $this['reservation']->final_price;
    
    $this['reservation']->final_price = $this['totalDaysPrice'] + $this['diffInPlacePrice'] + $this['extrasPrice'];

    if($this['reservation']->currency == "EUR") {
        $this['reservation']->secret_eur_price_for_total = $this['reservation']->final_price;
    } else if ($this['reservation']->currency == "USD") {
        $this['reservation']->secret_eur_price_for_total = $this['reservation']->final_price / $this['setting']['eurtousd'];
    } else if ($this['reservation']->currency == "TRY") {
        $this['reservation']->secret_eur_price_for_total = $this['reservation']->final_price / $this['setting']['eurtotry'];
    }

    $this['reservation']->save();
    
}
?>
==
<div class="box alt">
	<div class="row 80% uniform">
	
        {% partial 'price-info' price = price %}
	    
	    <div class="12u$"><h2 id="startendinfo">{{ 'Alış ve Dönüş Yeri ve Zamanı'|_ }}</h2></div>
	    
	    <div class="1u"></div>
	    <div class="10u">
	        <table class="alt">
	            <thead>
					<tr>
						<th>{{ 'Açıklama'|_ }}</th>
						<th>{{ 'Bilgi'|_ }}</th>
					</tr>
				</thead>
				<tbody>
		            <tr><td>{{ 'Alış Yeri ve Zamanı'|_ }}</td><td>{{ reservation.start_point.name }} <br /> {{ reservation.start_time }}</td></tr>
		            <tr><td>{{ 'Dönüş Yeri ve Zamanı'|_ }}</td><td>{{ reservation.end_point.name }} <br /> {{ reservation.end_time }}</td></tr>
		         </tbody>
	        </table>
	    </div>
	    <div class="1u$"></div>
	    
	    <div class="12u$"><h2 id="invoiceinfo">{{ 'Ücretlendirme'|_ }}</h2></div>
	    
	    <div class="1u"></div>
	    <div class="10u">
	        <table class="alt">
	            <thead>
					<tr>
						<th>{{ 'Açıklama'|_ }}</th>
						<th>{{ 'Ücret'|_ }}</th>
					</tr>
				</thead>
				<tbody>
		            
		            
		            <!--
		            <tr><td colspan="2">
		                {% for entry in dailyPriceArray %}
		                    {{ entry|round(2, 'ceil')|number_format(2, '.', ' ') }}<br />
		                {% endfor %}
		                </td>
		            </tr>
		            -->
		            
		            
		            <tr>
		                <td>{{ daysForPricing }} {{ 'gün'|_ }} {% if diffInHours %}({{daysActual}} {{ 'gün'|_ }} {{diffInHours}} {{ 'dakika'|_ }}){% endif %}</td>
		                <td>{{ totalDaysPrice|round(2, 'ceil')|number_format(2, '.', ' ') }} {% if reservation.currency == "EUR" %}€{% elseif reservation.currency == "USD" %}${% elseif reservation.currency == "TRY" %}₺{% endif %}</td>
		            </tr>

		            {% for entry in extrasArray if extrasArray %}
		            <tr>
		                <td>{{ entry.key }}</td>
		                {% if entry.range == "daily" %}
		                <td>{{ (entry.total / daysForPricing)|round(2, 'ceil')|number_format(2, '.', ' ') }} {% if reservation.currency == "EUR" %}€{% elseif reservation.currency == "USD" %}${% elseif reservation.currency == "TRY" %}₺{% endif %} * {{ daysForPricing }} {{ 'gün'|_ }} = {{ entry.total }} {% if reservation.currency == "EUR" %}€{% elseif reservation.currency == "USD" %}${% elseif reservation.currency == "TRY" %}₺{% endif %}</td>
		                {% else %}
		                <td>{{ entry.total|round(2, 'ceil')|number_format(2, '.', ' ') }} {% if reservation.currency == "EUR" %}€{% elseif reservation.currency == "USD" %}${% elseif reservation.currency == "TRY" %}₺{% endif %}</td>
		                {% endif %}
		            </tr>
		            {% endfor %}
		            
		            
		            {% if diffInPlace %}
		            
    		                <tr>
    		                    <td>{{ 'Alış - Dönüş Yeri Farkı'|_ }}</td>
    		                    <td>{{ diffInPlacePrice|round(2, 'ceil')|number_format(2, '.', ' ') }} 
    		                        {% if reservation.currency == "EUR" %}€{% elseif reservation.currency == "USD" %}${% elseif reservation.currency == "TRY" %}₺{% endif %}
    		                    </td>
    		                </tr>
    		                <tr>
                                <td>{{ 'Toplam'|_ }}</td>
                                <td>{{ totalOfAll|round(2, 'ceil')|number_format(2, '.', ' ') }}
                                    {% if reservation.currency == "EUR" %}€{% elseif reservation.currency == "USD" %}${% elseif reservation.currency == "TRY" %}₺{% endif %}
                                </td>
    			             </tr>
    			        
    			     {% else %}   
    			         
                            <tr>
                                <td><strong>{{ 'Toplam'|_ }}</strong></td>
                                <td><strong>{{ totalOfAll|round(2, 'ceil')|number_format(2, '.', ' ') }}
                                    {% if reservation.currency == "EUR" %}€{% elseif reservation.currency == "USD" %}${% elseif reservation.currency == "TRY" %}₺{% endif %}</strong>
                                </td>
                            </tr>
    			         
		             {% endif %}
		         </tbody>
	        </table>
	    </div>
	    <div class="1u$"></div>
	    
	    
	    <div class="2u"></div>
	    <div class="8u">
	    
            {% partial 'reservation-lastinfo' %}

	    </div>
	    <div class="2u$"></div>
	    
	</div>
</div>