[viewBag]
==
{% if reservation %}
	<header class="major">
    	<div class="box alt">
        	<div class="row 80% uniform">
        	
	            <div class="12u$"><h2 id="carselection">{{ 'Araç Seçimi'|_ }}</h2></div>
        	
        	    <div class="1u"></div>
        	    <div class="10u">
            	<table>
        
        			<thead>
        				<tr>
        					<th>{{ 'Araç:'|_ }}</th>
        					<th>{{ 'Yakıt Tipi:'|_ }} </th>
        					<th>{{ 'Şanzıman:'|_ }} </th>
        					<th>{{ 'Koltuk Sayısı:'|_ }} </th>
        					<th>{{ 'Bagaj:'|_ }} </th>
        					<th>{{ 'Kapı Sayısı:'|_ }} </th>
        				</tr>
        			</thead>
        
        
            	    {% for entry in vehicletypes %}
                        
                            <tr>
                                <td>
                                    <input class="checkcar" type="radio" id="vehicle_{{ entry.id }}" name="vehicle" value="{{ entry.id }}">
        							<label for="vehicle_{{ entry.id }}">{{ entry.name }}</label>
        						</td>
                                <td> {% if entry.fuel == 'gas' %}{{ 'Benzin'|_ }}{% elseif entry.fuel == 'diesel' %}{{ 'Dizel'|_ }}{% endif %}</td>
                                <td>
                                    {% if entry.gearbox == 'manual' %}{{ 'Manuel'|_ }}{% elseif entry.gearbox == 'automatic' %}{{ 'Otomatik'|_ }}{% endif %}
                                </td>
                                <td>{{ entry.seat }}</td>
                                <td>{{ entry.luggage }}</td>
                                <td>{{ entry.doors }}</td>
                            </tr>
                        
            	    {% endfor %}
            	    
            	</table>
            	
        		<script>
        		    $( document ).ready(function() {
                        $(".checkcar").on('change', function(){ 
                            if ($(this).is(':checked')) {
                                $.request('onCheckCar', {
                                    data: {id: $(this).val()}
                                })
                            }
                            var position = $('#car-photos-div').offset().top; 
                            $('HTML, BODY').animate({ scrollTop: position }, 2000);
                        });
                    });
        		</script>
        		
        	    </div>
    	        <div class="1u$"></div>
        	</div>
        </div>

    	<div id="car-photos-div">
    	</div>

    	<div id="car-data-div">
    	</div>

    	<div id="car-price-div">
    	</div>

		<div id="membership-onend-div" style="padding: 5px;">
            
    	</div>

    	<div id="user-form-onend-div" style="padding: 5px;">

		</div>
    	
</header>
{% endif %}