[viewBag]
==
<!-- Intro -->
<div style="position: fixed; top: 30px; left: 60px; width: 240px; height: 85px; z-index: 999999;"><img style="width: 240px; height: 85px; " src="{{ 'logo20.png'|media }}" /></div>
	<div id="intro">
	
		<img  src="{{ '01-PSF.png'|media }}" />
		<p>{{ 'Araç kiralamak bu kadar kolay mı?'|_ }}</p>
		<ul class="actions">
			<li><a href="#nav" class="button icon solo fa-arrow-down scrolly">{{ 'Devam'|_ }}</a></li>
		</ul>
	</div>