[viewBag]
==
<section>
                	    <form data-request="onSaveToMailList">
                	    <h3>{{ 'Elektronik Bülten Kayıt'|_ }}</h3>
                	    <div class="12u$ 12u$(xsmall)" style="padding: 10px;">
                			<label for="name">{{ 'Adınız:'|_ }}</label>
                			<input type="text" name="name" id="name">
                		</div>
                		<div class="6u 12u$(xsmall)" style="padding: 10px;">
                			<label for="email">{{ 'Email Adresiniz:'|_ }}</label>
                			<input type="text" name="email" id="email">
                		</div>
                		<div class="6u$ 12u$(xsmall)" style="padding: 10px;">
                			<label for="email">{{ 'Cep Telefonu Numaranız:'|_ }}</label>
                			<input type="text" name="gsm" id="gsm">
                		</div>
                		<ul class="actions" style="padding-top: 15px;">
                			<li>
                			    <input type="submit" name="submit" id="submit" value="{{ 'Kaydet'|_ }}">
                			</li>
                			<li><div id="maillist-msg-info">{% partial 'maillist-msg' %}</div></li>
                		</ul>
                		
                        
                		</form>
                	</section>