[viewBag]
==
<?php
use Tk\Carrental\Models\User;

function onStart() {
    $this['guest'] = Session::get("guest");
    $user = User::find(Session::get("user_id"));
    $this["user_id"] = $user->id;
    $this["user_name"] = $user->name;
}
?>
==
{% if guest %}
	<ul class="actions fit">
		<li><button class="button fit" data-request="onShowUserSignUp">{{ 'Üye Ol'|_ }}</button></li>
		<li><button class="button special fit" data-request="onShowUserSignIn">{{ 'Üye Girişi Yap'|_ }}</button></li>
	</ul>
	{% else %}
		<ul class="actions fit">
    		<li><a class="button fit" href="{{ 'rezervasyon-kontrol'|page }}">{{ user_name }} {{ 'Rezervasyonlar'|_ }}</a></li>
    		<li><button class="button fit" data-request="onLogout">{{ user_name }} {{ 'Çıkış Yap'|_ }}</button></li>
    	</ul>
	{% endif %}