[viewBag]
==
<?php
use Tk\Carrental\Models\User;

function onStart() {
    $this['guest'] = Session::get("guest");
    $user = User::find(Session::get("user_id"));
    $this["user_id"] = $user->id;
    $this["user_name"] = $user->name;
}
?>
==
{% if reservationCompleted %}
        <div class="box alt">
        	<div class="row 80% uniform">
        	    <div class="12u$">
                	<ul class="actions fit">
                		<li><button class="button special fit" data-request="onRestart{% if guest %}AfterFC{% endif %}">{{ 'Yeniden Başla'|_ }}</button></li>
                	</ul>
    	        </div>
        	    <div class="1u"></div>
        	    <div class="10u">
                    <p>{{ 'Rezervasyonunuz kaydedildi. Lütfen PNR numaranızı not edin.'|_ }} {{ 'Bilgiler email adresinize gönderilmiştir.'|_ }}</p>
        	        <table class="alt">
        					<tr>
        						<td>{{ 'PNR'|_ }}</td>
        						<td>{{ reservation.pnr }}</td>
        					</tr>
        					<tr>
        						<td>{{ 'Adınız'|_ }}</td>
        						<td>{{ reservation.user.name }}</td>
        					</tr>
        					<tr>
        						<td>{{ 'Email Adresiniz'|_ }}</td>
        						<td>{{ reservation.user.email }}</td>
        					</tr>
        			</table>
    	        </div>
    	        <div class="1u$"></div>
        	</div>
        </div>
    {% else %}
        {% if guest %}
    	<ul class="actions fit">
    		<li><button class="button fit" data-request="onShowUserSignUpOnEnd">{{ 'Üye Ol'|_ }}</button></li>
    		<li><button class="button fit" data-request="onShowUserSignInOnEnd">{{ 'Üye Girişi Yap'|_ }}</button></li>
    		<li><button class="button special fit" data-request="onShowFastCompleteOnEnd">{{ 'Hızlı Tamamla'|_ }}</button></li>
    	</ul>
    	{% else %}
    		<ul class="actions fit">
        		<li><button class="button fit" data-request="onLogout">{{ user_name }} {{ 'Çıkış Yap'|_ }}</button></li>
        		<li><button class="button special fit" data-request="onCompleteOnEnd">{{ user_name }} {{ 'Olarak Rezervasyonu Tamamla'|_ }}</button></li>
        	</ul>
    	{% endif %}
	{% endif %}