[viewBag]

[staticMenu]
code = "ana-menu"

[alternateHrefLangElements]

[localePicker]
forceUrl = 0

[staticMenu staticMenu2]
code = "ana-menu-en"

[staticMenu staticMenu3]
code = "ana-menu-de"
==
<!-- Nav -->
    <nav id="nav">

        	{% if staticMenu.menuItems %}
            <ul class="links">
                {% partial staticMenu ~ "::items" items=staticMenu.menuItems %}
            </ul>
            {% endif %}
            
            

    	<ul class="links" style="position: absolute; right: 0;">
            {% for locale, alternateUrl in alternateHrefLangElements.locales %}
    		    <li {% if locale == activeLocale %}class="active"{% endif %}><a href="{{ url(alternateUrl) }}"><span class="label">{{ locale|upper }}</span></a></li>
            {% endfor %}
    	</ul>
    </nav>