[viewBag]
==
<select name="start_point_id" id="start_point_id">
	<option value="">{{ 'Alış Bilgileri'|_ }}</option>
	{% for entry in points %}
	<option value="{{ entry.id }}">{{ entry.name }}</option>
	{% endfor %}
</select>

<script>
    $( document ).ready(function() {
        $("#start_point_id").on('change', function() {
            $.request('onStartPointSelect', {
                data: {id : $("#start_point_id").val()}
            });
        });
    });
</script>