[viewBag]
==
<select name="end_point_id" id="end_point_id">
	<option value="">{{ 'Dönüş Bilgileri'|_ }}</option>
	{% for entry in points %}
	<option value="{{ entry.id }}"{% if entry.id == point %} selected="selected"{% endif %}>{{ entry.name }}</option>
	{% endfor %}
</select>

<script>
    $( document ).ready(function() {
        $("#end_point_id").on('change', function() {
            $.request('onEndPointSelect', {
                data: {id : $("#end_point_id").val()}
            });
        });
    });
</script>