[viewBag]
==
<!-- Posts -->
							<section class="posts">
								<article style="padding-bottom: 0;">
    									<ul class="actions">
    										<li><button class="button showcaseSlickPrev"> < </button></li>
    										<li><button class="button showcaseSlickNext"> > </button></li>
    									</ul>
								</article>
								<article style="padding-bottom: 0;">
    									<ul class="actions">
    										<li><button class="button newsSlickPrev"> < </button></li>
    										<li><button class="button newsSlickNext"> > </button></li>
    									</ul>
								</article>
								<article id="showcase" style="border-top: none; padding-top: 5px; padding-bottom: 5px;">
								    {% for entry in setting.vehicletype %}
							        <div>
							            <a href="#vt{{ loop.index }}" rel="modal:open" class="image fit">
        									<header>
        										<span class="date">{{ 'Fırsatlar'|_ }}</span>
        									</header>
        									<header>
        										<h2>{{ entry.name }}</h2>
        									</header>
        									{% if entry.images[0] %}
        									    <img src="{{ entry.images[0].getThumb(380, 210, {'mode': 'crop'}) }}" alt="" />
        									{% endif %}
        									<p>{{ entry.name }}</p>
    									</a>
    									<!-- Modal HTML embedded directly into document -->
                                        <div id="vt{{ loop.index }}" class="modal hide">
        									<header>
        										<span class="date">{{ 'Fırsatlar'|_ }}</span>
        									</header>
        									<header>
        										<h2>{{ entry.name }}</h2>
        									</header>
        									{% if entry.images[0] %}
        									    <img src="{{ entry.images[0].getThumb(380, 210, {'mode': 'crop'}) }}" alt="" />
        									{% endif %}
        									
        									<p>{{ entry.name }}</p>
        									
        									<table class="alt">
                                	            <thead>
                                					<tr>
                                						<th>{{ 'Gün Sayısı'|_ }}</th>
                                						<th>{{ 'Ücret'|_ }}</th>
                                					</tr>
                                				</thead>
                                			    {% for ee in entry.price.pricedata[0].prices %}
                                			            <tr><td>{{ ee.day_start_end }}</td><td>{{ ee.price|round(2, 'ceil') }} €</td></tr>
                                			    {% endfor %}
                                	        </table>
                                        
                                            <a href="#vt{{ loop.index }}" rel="modal:close">{{ 'Kapat'|_ }}</a>
                                        </div>
									</div>
									{% endfor %}
								</article>
								<article id="news" style="border-top: none; padding-top: 5px; padding-bottom: 5px;">
								    {% for entry in setting.news %}
							        <div>
							            <a href="#news{{ loop.index }}" rel="modal:open" class="image fit">
        									<header>
        										<span class="date">{{ 'Haberler'|_ }}</span>
        									</header>
        									<header>
        										<h2>{{ entry.title }}</h2>
        									</header>
        									{% if entry.img %}
        									    <img src="{{ entry.img|media|resize(380, 210, {'mode': 'crop'}) }}" alt="" />
        									{% endif %}
        									
        									<p>{{ entry.description }}</p>
    									</a>
    									<!-- Modal HTML embedded directly into document -->
                                        <div id="news{{ loop.index }}" class="modal hide">
                                            <header>
        										<span class="date">{{ 'Haberler'|_ }}</span>
        									</header>
        									<header>
        										<h2>{{ entry.title }}</h2>
        									</header>
        									{% if entry.img %}
        									    <img src="{{ entry.img|media|resize(380, 210, {'mode': 'crop'}) }}" alt="" />
        									{% endif %}
        									
        									<p>{{ entry.description }}</p>
        									
        									{{ entry.content|raw }}
                                        
                                          <a href="#news{{ loop.index }}" rel="modal:close">{{ 'Kapat'|_ }}</a>
                                        </div>
									</div>
									
									{% endfor %}
								</article>
								
								

								<script>
                            	    $(document).ready(function(){
                            	        $('#showcase').slick({
                                          adaptiveHeight: true,
                                          arrows: false,
                                          autoplay: true,
                                          autoplaySpeed: 2800,
                                        });
                            	        $('#news').slick({
                                          adaptiveHeight: true,
                                          arrows: false,
                                          autoplay: true,
                                          autoplaySpeed: 3000,
                                        });
                                        $('.showcaseSlickPrev').click(function(e) {
                                            $('#showcase').slick('slickNext');
                                        });
                                        $('.showcaseSlickNext').click(function(e) {
                                            $('#showcase').slick('slickPrev');
                                        });
                                        $('.newsSlickPrev').click(function(e) {
                                            $('#news').slick('slickNext');
                                        });
                                        $('.newsSlickNext').click(function(e) {
                                            $('#news').slick('slickPrev');
                                        });
                                    });
                                </script>
							</section>