[viewBag]
==
<!--
<div class="12u$"><h2 id="priceinfo">{{ 'İlgili Araç İçin Günlük Ücretlendirme'|_ }}</h2></div>

	    <div class="1u"></div>
	    <div class="10u">
	        <table class="alt">
	            <thead>
					<tr>
						<th>{{ 'Gün Sayısı'|_ }}</th>
						<th>{{ 'Ücret'|_ }}</th>
					</tr>
				</thead>
			    {% for entry in price.pricedata[0].prices %}
			        {% if reservation.currency == "EUR" %}
			            <tr><td>{{ entry.day_start_end }}</td><td>{{ (entry.price)|round(2, 'ceil')|number_format(2, '.', ' ') }} €</td></tr>
			        {% elseif reservation.currency == "USD" %}
			            <tr><td>{{ entry.day_start_end }}</td><td>{{ (entry.price * setting.eurtousd)|round(2, 'ceil')|number_format(2, '.', ' ') }} $</td></tr>
			        {% elseif reservation.currency == "TRY" %}
			            <tr><td>{{ entry.day_start_end }}</td><td>{{ (entry.price * setting.eurtotry)|round(2, 'ceil')|number_format(2, '.', ' ') }} ₺</td></tr>
			        {% endif %}
			    {% endfor %}

	        </table>
	    </div>
	    <div class="1u$"></div>
	    -->