[viewBag]
==
<!-- <div class="12u$">
	        <table class="alt">
	            <thead>
					<tr>
						<th>{{ 'Gün Sayısı'|_ }}</th>
						<th>{{ 'Ücret'|_ }}</th>
					</tr>
				</thead>
				{% for data in price.pricedata if data.onlyforthiscity == 0 %}
				    {% if loop.index0 == 0 %}
    			        {% for entry in data.prices %}
    			            <tr><td>{{ entry.day_start_end }}</td><td>{{ (entry.price)|round(2, 'ceil')|number_format(2, '.', ' ') }} €</td></tr>
    			        {% endfor %}
    			    {% endif %}
			    {% endfor %}

	        </table>
	    </div>
-->