[viewBag]
==
<!-- Footer -->
							<footer id="footer">
								<section>
									<form class="alt" data-request="onReservationFormFill" data-request-success="var position = $('#car-select').offset().top; $('HTML, BODY').animate({ scrollTop: position }, 2000);">
										<div class="row uniform">
											<!-- Break -->
											<div class="6u">
												<div class="select-wrapper" id="start_point_div">
													{% partial 'point_start' %}
												</div>
											</div>
											<div class="6u$">
												<div class="select-wrapper" id="end_point_div">
												    {% partial 'point_end' %}
												</div>
											</div>
											<!-- Break -->
											<div class="6u">
												<div class="select-wrapper" id="start_subpoint_div">
													{% partial 'subpoint_start' %}
												</div>
											</div>
											<div class="6u$">
												<div class="select-wrapper" id="end_subpoint_div">
													{% partial 'subpoint_end' %}
												</div>
											</div>
											
											<!-- Break -->
											<div class="6u 12u$(xsmall)">
												<input type="text" name="start_time" id="start_time" value="" placeholder="{{ 'Alış Tarihi'|_ }}">
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="end_time" id="end_time" value="" placeholder="{{ 'Dönüş Tarihi'|_ }}">
											</div>
											
											<!-- Break -->
											<div class="6u 12u$(xsmall)">
												<input type="text" name="start_minitime" id="start_minitime" value="" placeholder="{{ 'Alış Zamanı'|_ }}">
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="end_minitime" id="end_minitime" value="" placeholder="{{ 'Dönüş Zamanı'|_ }}">
											</div>

											<!-- Break -->
											<div class="6u">
												<div class="select-wrapper">
													<select name="category" id="category">
														<option value="">{{ 'Araç Grubu'|_ }}</option>
														    <option value="all">{{ 'Hepsi'|_ }}</option>
														{% for entry in categories %}
														    <option value="{{ entry.id }}">{{ entry.name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
											<!-- Break -->
											<div class="2u 12u$(small)">
												<input type="radio" id="currency_eur" name="currency" value="EUR" checked="checked">
												<label for="currency_eur">EUR</label>
											</div>
											<div class="2u 12u$(small)">
												<input type="radio" id="currency_try" name="currency" value="TRY">
												<label for="currency_try">TRY</label>
											</div>
											<div class="2u$ 12u$(small)">
												<input type="radio" id="currency_usd" name="currency" value="USD">
												<label for="currency_usd">USD</label>
											</div>
											<!-- Break -->
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="{{ 'Araç Seç'|_ }}" class="special"></li>
													<li><input type="reset" value="{{ 'Temizle'|_ }}"></li>
												</ul>
											</div>
										</div>
									</form>
								</section>
							</footer>