[viewBag]
==
<?php
function onStart() {
    $this['session_guest'] = Session::get("guest");
}
?>
==
{% if reservation %}
    <section class="alt">
    {% if reservation.status == "cancelledbyuser" %}
    	<h3 style="width: 12em; color: red; text-align: center;">{{ 'Bu rezervasyon kullanıcı tarafından iptal edilmiştir. İptal eden siz değilseniz lütfen info@psfcarrental.com adresine email gönderiniz. '|_ }}</h3>
    {% endif %}
    {% if reservation.status == "cancelledbypsf" %}
    	<h3 style="width: 12em; color: red; text-align: center;">{{ 'Bu rezervasyon PSF Car Rental tarafından iptal edilmiştir.'|_ }}</h3>
    {% endif %}
    </section>
    <section class="alt">
    	<h3 style="width: 12em;">{{ 'PNR'|_ }}</h3>
    	<p style="text-align: center;">{{ reservation.pnr }}</p>
    </section>
    <section class="alt">
    	<h3 style="width: 12em;">{{ 'Kiralayan'|_ }}</h3>
    	<p style="text-align: center;">{{ reservation.user.name }}<br />{{ reservation.user.email }}<br />{{ reservation.user.phone }}</p>
    </section>
    <section class="alt">
    	<h3 style="width: 12em;">{{ 'Araç Tipi'|_ }}</h3>
    	<p style="text-align: center;">{{ reservation.vehicletype.name }}<br />
    	{% if reservation.vehicletype.fuel == 'gas' %}{{ 'Benzin'|_ }}{% elseif reservation.vehicletype.fuel == 'diesel' %}{{ 'Dizel'|_ }}{% endif %}<br />
    	{% if reservation.vehicletype.gearbox == 'manual' %}{{ 'Manuel'|_ }}{% elseif reservation.vehicletype.gearbox == 'automatic' %}{{ 'Otomatik'|_ }}{% endif %}
    	</p>
    </section>
    <section class="alt">
    	<h3 style="width: 12em;">{{ 'Alış Yeri ve Tarihi'|_ }}</h3>
    	<p style="text-align: center;">{{ reservation.start_point.name }}<br />{{ reservation.start_subpoint.name }}<br />{{ reservation.start_time }}</p>
    </section>
    <section class="alt">
    	<h3 style="width: 12em;">{{ 'Dönüş Yeri ve Tarihi'|_ }}</h3>
    	<p style="text-align: center;">{{ reservation.end_point.name }}<br />{{ reservation.end_subpoint.name }}<br />{{ reservation.end_time }}</p>
    </section>
    <section class="alt">
    	<h3 style="width: 12em;">{{ 'Ücret'|_ }}</h3>
    	<p style="text-align: center;">{{ reservation.final_price }} {{ reservation.currency }}</p>
    </section>
    <!--
    {% if reservation.vehicle %}
    <section class="alt">
    	<h3 style="width: 12em;">{{ 'Araç'|_ }}</h3>
    	<p style="text-align: center;">{{ reservation.vehicle.plate }}</p>
    </section>
    {% endif %}
    -->
    <section class="alt">
        <ul class="actions fit">
    		<li><button class="button special fit" 
    		data-request="onReservationCancel" 
    		data-request-data="pnr: '{{ reservation.pnr }}', email: '{{ reservation.user.email }}'"
    		>{{ 'Rezervasyon İptal'|_ }}</button></li>
    		<li><button class="button special fit" data-request="onReservationPDF" data-request-data="pnr: '{{ reservation.pnr }}', email: '{{ reservation.user.email }}'">{{ 'Bilgileri İndir (PDF)'|_ }}</button></li>
    	</ul>
    </section>
    <section id="reservation-cancel-section">
    </section>
{% elseif notfound %}
    <section class="alt">
    	<h3 style="width: 12em;">{{ 'İlgili rezervasyon bulunamadı. Lütfen rezervasyon kodunuzu ve email adresinizi girerek tekrar deneyiniz.'|_ }}</h3>
    </section>
{% else %}
    <section>
    	{% if not session_guest %}
            <ul>
        	{% for entry in reservations %}
        	    <li>
        	    <a href="#" 
        	        data-request="onCheckReservation" 
        	        data-request-data="pnr: '{{ entry.pnr }}'"
        	    >{{ entry.pnr }} <br /> {{ entry.start_point.name }} {{ entry.start_subpoint.name }} <br /> {{ entry.end_point.name }} {{ entry.end_subpoint.name }} <br /> {{ entry.start_time }} <br /> {{ entry.end_time }}</a>
        	    </li>
        	{% endfor %}
            </ul>
        {% else %}
        	<h3 style="width: 12em;">{{ 'Lütfen rezervasyon kodunuzu ve email adresinizi giriniz.'|_ }}</h3>
        {% endif %}
    </section>
{% endif %}