[viewBag]
==
<select name="end_subpoint_id" id="end_subpoint_id">
	<option value="">{{ 'Dönüş Durak Bilgileri'|_ }}</option>
	{% for entry in subpoints %}
	<option value="{{ entry.id }}"{% if entry.id == subpoint %} selected="selected"{% endif %}>{{ entry.name }}</option>
	{% endfor %}
</select>