[viewBag]
==
<select name="start_subpoint_id" id="start_subpoint_id">
	<option value="">{{ 'Alış Durak Bilgileri'|_ }}</option>
	{% for entry in subpoints %}
	<option value="{{ entry.id }}">{{ entry.name }}</option>
	{% endfor %}
</select>


<script>
    $( document ).ready(function() {
        $("#start_subpoint_id").on('change', function() {
            if($("#end_point_id").val() == $("#start_point_id").val()) {
                $.request('onStartSubpointSelect', {
                    data: {subpoint : $("#start_subpoint_id").val(), id: $("#end_point_id").val()}
                });
            }
        });
    });
</script>