[viewBag]
==
<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>{{ 'Adı'|_ }}</th>
													<th>{{ 'Açıklama'|_ }}</th>
													<th>{{ 'Fiyatı'|_ }}</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Fiyat 5</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>