[viewBag]
==
{% if signin %}
                            
                            <!-- Footer -->
							<footer id="userSignInDiv" class="footer">
								<section>
									<form class="alt" data-request="onUserSignIn">
										<div class="row uniform">
											
											<!-- Break -->
											<div class="6u 12u$(xsmall)">
												<input type="email" name="email" id="email" value="" placeholder="{{ 'Email Adresiniz'|_ }}">
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="password" name="password" id="password" value="" placeholder="{{ 'Şifreniz'|_ }}">
											</div>
											<!-- Break -->
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="{{ 'Giriş Yap'|_ }}" class="special"></li>
												</ul>
											</div>
										</div>
									</form>
									<div class="12u$">
										<ul class="actions">
    									    <li><button id="closeUserSignInDiv" onclick="$('#userSignInDiv').hide();">{{ 'Kapat'|_ }}</button></li>
    									</ul>
									</div>
								</section>
							</footer>
							
							{% elseif signinOnEnd %}
							
                            <!-- Footer -->
							<footer id="userSignInDiv" class="footer">
								<section>
									<form class="alt" data-request="onUserSignInOnEnd">
										<div class="row uniform">
											
											<!-- Break -->
											<div class="6u 12u$(xsmall)">
												<input type="email" name="email" id="email" value="" placeholder="{{ 'Email Adresiniz'|_ }}">
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="password" name="password" id="password" value="" placeholder="{{ 'Şifreniz'|_ }}">
											</div>
											<!-- Break -->
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="{{ 'Giriş Yap'|_ }}" class="special"></li>
												</ul>
											</div>
										</div>
									</form>
									<div class="12u$">
										<ul class="actions">
    									    <li><button id="closeUserSignInDiv" onclick="$('#userSignInDiv').hide();">{{ 'Kapat'|_ }}</button></li>
    									</ul>
									</div>
								</section>
							</footer>
							
							{% elseif signup %}
							
							<!-- Footer -->
							<footer id="userSignUpDiv" class="footer">
								<section>
									<form class="alt" data-request="onUserSignUp">
										<div class="row uniform">
											
											<!-- Break -->
											<div class="6u 12u$(xsmall)">
												<input type="text" name="name" id="name" value="" placeholder="{{ 'Adınız'|_ }}">
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="email" name="email" id="email" value="" placeholder="{{ 'Email Adresiniz'|_ }}">
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="password" name="password" id="password" value="" placeholder="{{ 'Şifreniz'|_ }}">
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="password" name="password_confirmation" id="password_confirmation" value="" placeholder="{{ 'Şifreniz (Tekrar)'|_ }}">
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="phone" id="phone" value="" placeholder="{{ 'Telefon:'|_ }}">
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="gsm" id="gsm" value="" placeholder="{{ 'Cep Telefonu'|_ }}">
											</div>
											<!-- Break -->
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="{{ 'Kayıt Ol'|_ }}" class="special"></li>
												</ul>
											</div>
										</div>
									</form>
									<div class="12u$">
										<ul class="actions">
    									    <li><button id="closeUserSignInDiv" onclick="$('#userSignUpDiv').hide();">{{ 'Kapat'|_ }}</button></li>
    									</ul>
									</div>
								</section>
							</footer>
							
							{% elseif signupOnEnd %}
							
							<!-- Footer -->
							<footer id="userSignUpDiv" class="footer">
								<section>
									<form class="alt" data-request="onUserSignUpOnEnd">
										<div class="row uniform">
											
											<!-- Break -->
											<div class="6u 12u$(xsmall)">
												<input type="text" name="name" id="name" value="" placeholder="{{ 'Adınız'|_ }}">
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="email" name="email" id="email" value="" placeholder="{{ 'Email Adresiniz'|_ }}">
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="password" name="password" id="password" value="" placeholder="{{ 'Şifreniz'|_ }}">
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="password" name="password_confirmation" id="password_confirmation" value="" placeholder="{{ 'Şifreniz (Tekrar)'|_ }}">
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="phone" id="phone" value="" placeholder="{{ 'Telefon Numaranız'|_ }}">
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="gsm" id="gsm" value="" placeholder="{{ 'Cep Telefonu Numaranız'|_ }}">
											</div>
											<!-- Break -->
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="{{ 'Kayıt Ol'|_ }}" class="special"></li>
												</ul>
											</div>
										</div>
									</form>
									<div class="12u$">
										<ul class="actions">
    									    <li><button id="closeUserSignInDiv" onclick="$('#userSignUpDiv').hide();">{{ 'Kapat'|_ }}</button></li>
    									</ul>
									</div>
								</section>
							</footer>
							
							{% elseif fastcomplete %}
							
							<!-- Footer -->
							<footer id="fastCompleteDiv" class="footer">
								<section>
									<form class="alt" data-request="onFastComplete">
										<div class="row uniform">
											
											<!-- Break -->
											<div class="12u 12u$(xsmall)">
												<input type="text" name="name" id="name" value="" placeholder="{{ 'Adınız'|_ }}">
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="email" name="email" id="email" value="" placeholder="{{ 'Email Adresiniz'|_ }}">
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="text" name="gsm" id="gsm" value="" placeholder="{{ 'Cep Telefonu Numaranız'|_ }}">
											</div>
											<!-- Break -->
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="{{ 'Rezervasyonu Tamamla'|_ }}" class="special"></li>
												</ul>
											</div>
										</div>
									</form>
									<div class="12u$">
										<ul class="actions">
    									    <li><button id="closeFastCompleteDiv" onclick="$('#fastCompleteDiv').hide();">{{ 'Kapat'|_ }}</button></li>
    									</ul>
									</div>
								</section>
							</footer>
							
							{% elseif signinFail %}
							
							<!-- Footer -->
							<footer id="userSignInDiv" class="footer">
								<section>
									<form class="alt" data-request="onUserSignIn">
										<div class="row uniform">
											
											<div class="12u 12u$(xsmall)">Giriş başarısız.</div>
											<!-- Break -->
											<div class="6u 12u$(xsmall)">
												<input type="email" name="email" id="email" value="{{ input.email }}" placeholder="{{ 'Email Adresiniz'|_ }}">
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="password" name="password" id="password" value="" placeholder="{{ 'Şifreniz'|_ }}">
											</div>
											<!-- Break -->
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="{{ 'Giriş Yap'|_ }}" class="special"></li>
												</ul>
											</div>
										</div>
									</form>
									<div class="12u$">
										<ul class="actions">
    									    <li><button id="closeUserSignInDiv" onclick="$('#userSignInDiv').hide();">{{ 'Kapat'|_ }}</button></li>
    									</ul>
									</div>
								</section>
							</footer>
							
							{% elseif signupSuccess %}
							
							<footer id="footer" class="footer">
								<section>
									<p>{{ 'Üyelik kaydınız başarılı.'|_ }}</p>
								</section>
							</footer>
							
							{% elseif signupSuccessOnEnd %}
							<footer id="footer" class="footer">
								<section>
									<p>{{ 'Üyelik kaydınız başarılı. Rezervasyonunuzu tamamlayabilirsiniz.'|_ }}</p>
								</section>
							</footer>
							
							{% elseif signupFail %}
							
							<!-- Footer -->
							<footer id="userSignUpDiv" class="footer">
								<section>
									<form class="alt" data-request="onUserSignUp">
										<div class="row uniform">
											
											<div class="12u 12u$(xsmall)">{{ 'Kayıt başarısız'|_ }}{% for ee in msgs %} {% for e in ee %} {{ e }} {% endfor %}{% endfor %}</div>
											<!-- Break -->
											<div class="6u 12u$(xsmall)">
												<input type="text" name="name" id="name" value="{{ input.name }}" placeholder="{{ 'Adınız'|_ }}">
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="email" name="email" id="email" value="{{ input.email }}" placeholder="{{ 'Email Adresiniz'|_ }}">
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="password" name="password" id="password" value="" placeholder="{{ 'Şifreniz'|_ }}">
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="password" name="password_confirmation" id="password_confirmation" value="" placeholder="{{ 'Şifreniz (Tekrar)'|_ }}">
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="phone" id="phone" value="{{ input.phone }}" placeholder="{{ 'Telefon Numaranız'|_ }}">
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="gsm" id="gsm" value="{{ input.gsm }}" placeholder="{{ 'Cep Telefonu Numaranız'|_ }}">
											</div>
											<!-- Break -->
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="{{ 'Kayıt Ol'|_ }}" class="special"></li>
												</ul>
											</div>
										</div>
									</form>
									<div class="12u$">
										<ul class="actions">
    									    <li><button id="closeUserSignInDiv" onclick="$('#userSignUpDiv').hide();">{{ 'Kapat'|_ }}</button></li>
    									</ul>
									</div>
								</section>
							</footer>
							
							
							
							{% endif %}