title = "Anasayfa"
url = "/"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

			    {% partial 'intro' %}
                
                {% partial 'header' %}

			    {% partial 'nav' %}

			    <!-- Main -->
				<div id="main" class="js-start-point">
					<div id="membership-div" style="padding: 5px;">
                        {% partial 'membership' %}
                	</div>
                	<div id="user-form-div" style="padding: 5px;">
					</div>
					{% partial 'reservation-form' %}
                    <div id="car-select" style="padding: 5px;">
						{% partial 'car-select' %}
					</div>
                    
                    {% partial 'posts' %}
                    
				</div>
				
                				
                <footer id="footer">
                    {% partial 'maillist-form' %}
                </footer>


			    <!-- Copyright -->
				<div id="copyright">
					<ul><li>&copy; Pasifik</li></ul>
				</div>

			</div>