title = "Fiyat Listesi"
url = "/fiyat-listesi"
layout = "default"
is_hidden = 1
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeUrl[en] = "/price-list"
localeUrl[de] = "/preisliste"
==
<?php
use Tk\Carrental\Models\Category;
use Tk\Carrental\Models\Currencyrecord;
use Tk\Carrental\Models\Interval;
use Tk\Carrental\Models\Maillist;
use Tk\Carrental\Models\Newsletter;
use Tk\Carrental\Models\Point;
use Tk\Carrental\Models\Price;
use Tk\Carrental\Models\Reservation;
use Tk\Carrental\Models\Setting;
use Tk\Carrental\Models\SMSAll;
use Tk\Carrental\Models\Subpoint;
use Tk\Carrental\Models\User;
use Tk\Carrental\Models\Vehicle;
use Tk\Carrental\Models\Vehicletype;
use Renatio\DynamicPDF\Classes\PDF;
use Illuminate\Support\Facades\Redirect;

function onStart() {
    $this['vehicletypes_forlist'] = Vehicletype::where("is_active", "=", 1)->get();
    
}
?>
==
<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

			    {% partial 'intro' %}

                {% partial 'header' %}

			    {% partial 'nav' %}

                <div id="main" class="js-start-point">

                    {% for entry in vehicletypes_forlist %}
                    <div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>{{ 'Araç:'|_ }}</th>
													<th>{{ 'Yakıt Tipi:'|_ }} </th>
													<th>{{ 'Şanzıman:'|_ }} </th>
													<th>{{ 'Koltuk Sayısı:'|_ }} </th>
													<th>{{ 'Bagaj:'|_ }} </th>
													<th>{{ 'Kapı Sayısı:'|_ }} </th>
												</tr>
											</thead>
											<tbody>
                                                <tr>
                                                    <td>
                            							<h2>{{ entry.name }}</h2>
                            						</td>
                                                    <td>{% if entry.fuel == 'gas' %}{{ 'Benzin'|_ }}{% elseif entry.fuel == 'diesel' %}{{ 'Dizel'|_ }}{% endif %}</td>
                                                    <td>
                                                        {% if entry.gearbox == 'manual' %}{{ 'Manuel'|_ }}{% elseif entry.gearbox == 'automatic' %}{{ 'Otomatik'|_ }}{% endif %}
                                                    </td>
                                                    <td>{{ entry.seat }}</td>
                                                    <td>{{ entry.luggage }}</td>
                                                    <td>{{ entry.doors }}</td>
                                                </tr>
                                                <tr>
													<td colspan="7">
													    {% partial 'price-info-2' price = entry.price %}
													</td>
												</tr>
												
                                                <tr>
													<td colspan="7">
        												<div class="box alt">
                                                        	<div class="row 50% uniform">
                                                        	    {% for photoentry in entry.images %}
                                                        		    <div class="3u{% if loop.index % 4 == 0 %}${% endif %}">
                                                        		        <span class="image fit">
                                                        		            <a href="{{ photoentry.getPath }}" data-fancybox="gallery">
                                                        		                <img  src="{{ photoentry.getThumb(380, 210, {'mode':'crop'}) }}" alt="">
                                                        		            </a>
                                                        		        </span>
                                                        		    </div>
                                                        		{% endfor %}
                                                        	</div>
                                                        </div>
                                                    </td>
												</tr>
											</tbody>
										</table>
									</div>
                        
                    {% endfor %}

				</div>

			    <!-- Copyright -->
				<div id="copyright">
					<ul><li>&copy; Pasifik</li></ul>
				</div>

			</div>