title = "İletişim"
url = "/iletisim"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeUrl[en] = "/contact-us"
==
<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

			    {% partial 'intro' %}
                
                {% partial 'header' %}

			    {% partial 'nav' %}
			    
                <div id="main" class="js-start-point">
<footer id="footer" class="js-start-point">
	<section>
	<form data-request="onContactFormFilled">
		<div class="field">
			<label style="padding-top: 15px;" for="name">{{ 'Adınız'|_ }}</label>
			<input type="text" name="name" id="name">
		</div>
		<div class="field">
			<label style="padding-top: 15px;" for="email">{{ 'Email Adresiniz'|_ }}</label>
			<input type="email" name="email" id="email">
		</div>
		<div class="field">
			<label style="padding-top: 15px;" for="gsm">{{ 'Telefon Numaranız'|_ }}</label>
			<input type="text" name="gsm" id="gsm">
		</div>
		<div class="field">
			<label style="padding-top: 15px;" for="msg">{{ 'Mesajınız'|_ }}</label>
			<textarea name="msg" id="msg" rows="3"></textarea>
		</div>

		<ul class="actions" style="padding-top: 15px;">
			<li>
				<input type="submit" value="{{ 'Mesajı Gönder'|_ }}">
			</li>
			<li><div id="contact-msg-info">{% partial 'contact-msg' %}</div></li>
		</ul>
		</form>
	</section>
	<section class="split contact">
	{% for entry in setting.contactinfo %}
		<section class="alt">
			<h3 style="width: 12em;">{{ entry.name }}</h3>
			<p style="text-align: center;">{{ entry.contact }}</p>
		</section>
	{% endfor %}
		<section>
			<h3 style="width: 12em;">{{ 'Sosyal Medya'|_ }}</h3>
			<ul class="icons alt">
				<li><a class="icon alt fa-twitter" href="#"><span class="label">Twitter</span></a></li>
				<li><a class="icon alt fa-facebook" href="#"><span class="label">Facebook</span></a></li>
			</ul>
		</section>
	</section>
</footer>


</div>
			    <!-- Copyright -->
				<div id="copyright">
					<ul><li>&copy; Pasifik</li></ul>
				</div>

			</div>