title = "Kiralama Koşulları"
url = "/kiralama-kosullari"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
title[en] = "Renting Terms"
localeUrl[en] = "/rental-terms"
localeUrl[de] = "/meitbedingungen"
==
<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

			    {% partial 'intro' %}
                
                {% partial 'header' %}

			    {% partial 'nav' %}

			    <!-- Main -->
				<div id="main" class="js-start-point">
					
					{{ setting.terms|raw }}

				</div>

			    <!-- Copyright -->
				<div id="copyright">
					<ul><li>&copy; Pasifik</li></ul>
				</div>

			</div>