title = "Rezervasyon Kontrol"
url = "/rezervasyon-kontrol"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeUrl[en] = "/reservation-check"
localeUrl[de] = "/reservation-prufen"
==
<?php
use Tk\Carrental\Models\Reservation;

function onStart () {
    $this['reservations'] = Reservation::where("user_id", "=", Session::get("user_id"))->get();
}
?>
==
<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

			    {% partial 'intro' %}

                {% partial 'header' %}

			    {% partial 'nav' %}
			    
                <div id="main" class="js-start-point">
                    <div id="membership-div" style="padding: 5px;">
                        {% partial 'membership' %}
                    </div>
                	<div id="user-form-div" style="padding: 5px;">
					</div>
                </div>
                <footer id="footer">
                
                    {% if guest %}
                	<section>
                	    <form data-request="onCheckReservation">
                    		<div class="field">
                    			<label style="padding-top: 15px;" for="pnr">{{ 'Rezervasyon Kodu'|_ }}</label>
                    			<input type="text" name="pnr" id="pnr">
                    		</div>
                    		<div class="field">
                    			<label style="padding-top: 15px;" for="email">{{ 'Email Adresiniz'|_ }}</label>
                    			<input type="email" name="email" id="email">
                    		</div>
                    
                    		<ul class="actions" style="padding-top: 15px;">
                    			<li>
                    				<input type="submit" value="{{ 'Rezervasyon Kontrol'|_ }}">
                    			</li>
                    		</ul>
                		</form>
                	</section>
                	{% else %}
                	<section>
        	            <h3>{{ 'Lütfen rezervasyonunuzu seçiniz.'|_ }}</h3>
                	</section>
                	{% endif %}
                	<section class="split contact" id="reservation-info-section">
                	    {% partial 'reservation-info' %}
                	</section>
                </footer>

			    <!-- Copyright -->
				<div id="copyright">
					<ul><li>&copy; Pasifik</li></ul>
				</div>

			</div>